.personalPhoto {
  width: 200px;
  height: 500px;
}

.mainHome {
  justify-content: center;
  margin: auto;
  width: 90%;
  margin-top: 50px;
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: column; */
}

.textColor {
  color: #00909E;
}
.mainText {
  border: 0cm;
  animation: intro-text 0.5s;
}

.mainText2 {
  margin-left: 50px;
  animation: intro-text 0.8s;

}

.mainText3 {
  margin-left: 100px;
  animation: intro-text 1.1s;

}

/* keyframes */

@keyframes intro-text {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}