* {
  background-color: #D1D1D1;
  /* animation: load-page 1s; */
}

:root {
  --main: #D1D1D1
}

.menu-item {
  display: flex;
}

/* Position and sizing of burger button */
.header {
  border: black 1px;
  display: flex;
  width: auto;
  position:;
  justify-content: center;
  
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4668ff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--main);
  padding: 2.5em 0;
  font-size: 2.5em;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;

}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: 4668ff;

}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes load-page {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}