:root {
	--hover-color: #C0EEF2;
	--font-color: #E9F8F9;
	--background-color: #18182379;
}


.mainHeader {
  background-color: var(--background-color);
	display: flex;
  margin-inline: 5%;
  border-radius: 5px;
  border-width: 1px;
	font-size: 20px;
	flex-direction: row;
	align-items: center;
	margin: 20px 15px 20px 20px; 
	justify-content: space-between;
}

.divLinkInside {
	justify-content: flex-start;
}
.divSocialBtns {
	justify-content: flex-end;
}


/* Routes buttons  */
.homeBtn {
  background: none;
	color: var(--font-color);
	border: none;
	padding: 10px;
	font: inherit;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
}
.aboutBtn {
	background: none;
	color: var(--font-color);
	border: none;
	padding: 10px;
	font: inherit;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
}
.projectsBtn {
	background: none;
	color: var(--font-color);
	border: none;
	padding: 10px;
	font: inherit;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
}
.contactsBtn {
  background: none;
	color: var(--font-color);
	border: none;
	padding: 10px;
	font: inherit;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
}

/* Routes links effects */

#link {
	position: relative;
	display: inline-block
}

#link::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background-color: #fff;
border-radius: 4px;
scale: 0.1;
transform-origin: center;
transition: scale 0.50s;
}

#link:hover::before {
	scale: 1;
	transform-origin: left;
}

/* Social media buttons */

.linkedinBtn {
	text-decoration: none;
	color: aliceblue;
	padding: 10px;
}

.githubBtn {
	text-decoration: none;
	color: aliceblue;
	padding: 10px;
}


/* Social media hover */
.linkedinBtn:hover {
	color: var(--hover-color);
}
.githubBtn:hover {
	color: var(--hover-color);
}