.mainDiv {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  margin: auto;
  width: 90%;
  margin-top: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.divBtnsProjects{
  display: flex;
  justify-content: center; 
}

.btnProjectsFilter{
  background: none;
	color: var(--font-color);
	border: none;
	padding: 10px;
	font: inherit;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
  font-size: 150%;
}

.carouselMain {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.projectCover{
  width: 100%;
  height: 100%;
  justify-content: center;
}

.itemCarousel {
  width: 90%;
  height: 90%;
  max-width: fit-content;
  margin: auto;
}

.control-arrow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  background-color: #131324 !important;
}

.projectTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin-left: 40%;
}

.previewTextModal{
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
  align-self: center;
  margin-top: -10%;
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 5px;
}

.modalBox {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  margin: 20%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  border-radius: 5px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: 100ms step-end;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  background: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.divIframe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iframe {
  position: absolute;            
  width: 100%;
  height: 100%;
  border-radius: 5px;
}